{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    {% for valor in usuarios %}
    <header class="header">
        <a class="voltar" href="{% url 'registro' %}">
            voltar
        </a>

        <h1 class="Titulo">Usuários</h1>

        <a class="editar_user" href="{% url 'editar' valor.id %}">
            Editar usuário
        </a>
    </header>
    
    <div class="main">
        
        <p>Id: {{valor.id}}</p>
        <p>Nome: {{valor.nome}}</p>
        <p>Sobremome: {{valor.sobrenome}}</p>
        <p>Telefone: {{valor.telefone}}</p>
        <p>Email: {{valor.email}}</p>
        <p>Descrição: {{valor.description}}</p>
        <p>Data de Criação: {{valor.data_criacao}}</p>
    {% endfor %}
    </div>
</body> 
</html>